*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding-left: 10%;
  padding-right: 10%;
  color: #1d44b8;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: 999;
}

.logo{
  margin-top: 1.3%;
}

#switch{
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 10%;
}

.nav-links a{
  text-decoration: none;
  letter-spacing: 2px;
}

.nav-links li{
  list-style: none;
}

footer{
  font-size: 2.3vh;
  padding: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  text-align: center;

}

.contact {
  justify-content: space-around;
}

footer a{
  text-decoration: none;
  padding: 2em;
}


.links {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: deeppink;
}

a:active {
  color: deeppink;
}

/* Index */
.animation{
  margin-top: 15vh;
}

.animation img{
  text-align: left;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

span:before{
  content: '';
  animation: animate infinite 8s;
}

span{
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-around;
  font-size: 4.5em;
  font-variant: small-caps;
  font-weight: 400;
  color: #0b2252;
  margin-top: -2vh;
}

@keyframes animate {
  0%{
    content: 'design process'
  }
  20%{
    content: 'aesthetic'
  }
  40%{
    content: 'story'
  }
  60%{
    content: 'home'
  }
  80%{
    content: 'development'
  }
  100%{
    content: 'design process'
  }
}

#welcome{
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 200%;
  justify-content: space-around;
  margin-top:-2.3em;
  margin-bottom: 2em;
  color: #f8b4b8;
  transform: rotateX(25deg);
}

.works-container a:hover{
  opacity: .5;
}

.works-container{
  padding-top: 10em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  grid-gap: 20px;
}

/*works*/
.intro{
  padding-top: 12vh;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.intro h1{
  font-weight: 300;
  font-size: 3.5em;
}

.intro h5{
  font-weight: 400;
  padding: 1.5em;
  font-size: 1em;
  text-transform: uppercase;
}

.intro h3{
  font-weight: 400;
  font-size: 1.5em;
}

.intro p{
  font-size: .9em;
  text-align: left;
}

.summary{
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 5em 11em 5em 15em;
}

.summaryleft{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.7;
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.deliverables, .year{
  border-right: 2px solid grey;
  position: relative;
  right: 30%;
}

#sum{
  font-size: 1em;
  line-height: 1.7;
}

.case {
  font-family: 'Open Sans', sans-serif;
  padding: 2em 18em 1em 18em;

}
.case h3 {
  font-size: 2em;
  font-weight: 400;
  color: #474051;
}

.case p {
  font-size: 1em;
  padding-bottom: 3em;
  line-height: 1.7;
}

.grid3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 25vw;
  grid-gap: 10px;
  padding-left: 3em;
  padding-right: 3em;
}

.grid4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 25vw;
  grid-gap: 10px;
  padding-top: 3em;
}

figcaption{
  text-align: center;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 3em;
}

.longdesc {
  display: none;
}

.sitemap{
  margin-left: 15%;
  margin-right: auto;
  width: 75%;
}

#wireframe{
  height: 45vh;
}

.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 40vw;
  grid-gap: 10px;
  padding-left: 3em;
  padding-right: 3em;
}

.HF{
  font-size: 1em;
}

/*YFP*/

.YFPbackground{
  background-image: url(images/background1.png);
  background-size: 100% 100%;
}

.YFPbackground2{
  background-image: url(images/YFP/background2.png);
  background-size: 100% 100%;
}

/*Pawsitive*/
.Pawbackground{
  background-image: url(images/pawsitive/background.png);
  background-size: 100% 100%;
}

.Pawbackground2{
  background-image: url(images/pawsitive/background2.png);
  background-size: 100% 100%;
}

#prototype{
  text-align: center;
}
/* play */

.fun {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 6em;
  font-size: 2.5em;
}

.collection {
  padding: 5em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 9vw);
  grid-gap: 15px;
}

.art {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.art1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.art2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.art3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.art4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.art5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.art6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

/* about */
.about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 3em;
  grid-gap: 3em;
}

.aboutwrite {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
}
